{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NOAH</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<div id="wrapper" class="wrapper">
    <span class="cursor"></span>
    <header class="header sticky-header fixed-header">
        <div class="container">
            <div class="header-inner d-none d-lg-flex">
                <div class="header-logo">
                    <a href="{% url 'index' %}">
                        <h1>WCLEONARD</h1>
                    </a>
                </div>
                <div class="header-navigation">
                    <button class="header-navigation-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <nav class="main-navigation">
                        <ul>
                            <li><a href="{% url 'index' %}">HOME</a></li>
                            <li><a href="#">DOCUMENT</a></li>
                            <li><a href="{% url 'blog_list' %}">BLOG</a></li>
                            <li><a href="#">PROJECT</a></li>
                            <li><a href="#">WEBSITE</a></li>
                            <li><a href="{% url 'login' %}">USER</a>
                                <ul>
                                    <li><a href="{% url 'register' %}">register</a></li>
                                    <li><a href="#">settings</a></li>
                                    <li><a href="#">logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer-area bg-white">
        <div class="container">
            <ul class="footer-inner">
                <li>Don't forget the important things<br>A person's greatest emotional need is to feel appreciated</li>
                <li><a href="tel://+008341237654">+86 191 2827 2407</a><br><a href="#">wcleonard@163.com</a></li>
                <li><a href="mailto://info@example.com">Github: wcleonard@163.com</a></li>
                <li>Copyright &copy; More Information About Python - Please Visit <a href="http://www.cssmoban.com/" title="github" target="_blank"> NOAH Github</a></li>
            </ul>
        </div>
    </footer>
</div>

<script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>


</html>