<!doctype html>
<html class="no-js" lang="zxx">



<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Karigor - Portfolio Bootstrap4 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/icon.png">

	<!-- Google font (font-family: 'Dosis', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet">
	
	<!-- Plugins -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/plugins.css">

	<!-- Style Css -->
	<link rel="stylesheet" href="../../static/css/style.css">

	<!-- Custom Styles -->
	<link rel="stylesheet" href="css/custom.css">
</head>

<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

	<!-- Add your site or application content here -->

	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">

		<!-- Header -->
		<header class="header sticky-header">
			<div class="container">
				<div class="header-inner d-none d-lg-flex">
					<div class="header-logo">
						<a href="index.html">
							<img src="img/logo/logo-dark.png" alt="logo">
						</a>
					</div>
					<div class="header-navigation">
						<button class="header-navigation-trigger">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<nav class="main-navigation">
							<ul>
                                <li><a href="index.html">HOME</a>
                                    <ul>
                                        <li><a href="index.html">Home Default Version</a></li>
                                        <li><a href="index-dark.html">Home Dark Version</a></li>
                                        <li><a href="index-boxed.html">Home Boxed Layout</a></li>
                                    </ul>
                                </li>
								<li><a href="about.html">ABOUT US</a></li>
                                <li><a href="portfolio.html">PORTFOLIO</a>
                                    <ul>
                                        <li><a href="portfolio-2-column.html">Portfolio 2 Column</a></li>
                                        <li><a href="portfolio.html">Portfolio 3 Column</a></li>
                                        <li><a href="portfolio.html">Portfolio 4 Column</a></li>
                                        <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">BLOG</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Fullwidth</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-details.html">Blog Details</a>
                                            <ul>
												<li><a href="blog-details.html">Blog Details</a>
                                                <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                                <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                            </ul>                                        
                                        </li>
                                    </ul>
                                </li>
								<li><a href="pricing.html">PRICING</a></li>
								<li><a href="services.html">SERVICES</a></li>
								<li><a href="login.html">CONTACT</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="mobile-menu-wrapper d-block d-lg-none">
					<div class="mobile-menu clearfix">
						<a href="index.html" class="mobile-logo">
							<img src="img/logo/logo-dark.png" alt="mobile logo">
						</a>
					</div>
				</div>
			</div>
		</header>
		<!--// Header -->

        <!-- Breadcrumb Area -->
        <div class="breadcrumb-area bg-grey">
            <div class="container">
                <div class="cr-breadcrumb">
                    <h3>ABOUT US</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// Breadcrumb Area -->

		<!-- Page Conttent -->
		<main class="page-content">

            <!-- About Us Area -->
            <div class="cr-section about-us-area section-padding-lg bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-image">
                                <img src="img/others/about-image.jpg" alt="about image">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-content">
                                <h2>WELCOME TO <strong>KARIGOR</strong> WORLD</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis odio dignissimos ut illum necessitatibus veritatis velit explicabo harum rerum non consequuntur, est consectetur optio similique expedita iusto maiores esse saepe.</p>
                                <ul>
                                    <li>We love products that work perfectly and look beautiful.</li>
                                    <li>We create base on a deeply analysis of your project.</li>
                                    <li>We are create design with really high quality standards.</li>
                                    <li>Magni exercitationem delectus enim sunt magni atque odio.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// About Us Area -->

            <!-- Counter Section -->
            <div class="cr-section counter-section section-padding-xs bg-grey">
                <div class="container">
                    <div class="row justify-content-center">

                        <!-- Single Counter -->
                        <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                            <div class="single-count">
                                <h2><span class="counter-active">360</span>+</h2>
                                <h6>project done</h6>
                            </div>    
                        </div>
                        <!--// Single Counter -->

                        <!-- Single Counter -->
                        <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                            <div class="single-count">
                                <h2><span class="counter-active">690</span>+</h2>
                                <h6>Cups Of Coffee</h6>
                            </div>    
                        </div>
                        <!--// Single Counter -->

                        <!-- Single Counter -->
                        <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                            <div class="single-count">
                                <h2><span class="counter-active">420</span></h2>
                                <h6>Branding</h6>
                            </div>    
                        </div>
                        <!--// Single Counter -->

                        <!-- Single Counter -->
                        <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                            <div class="single-count">
                                <h2><span class="counter-active">100</span></h2>
                                <h6>Happy Clients</h6>
                            </div>    
                        </div>
                        <!--// Single Counter -->

                    </div>
                </div>
            </div>
            <!--// Counter Section -->

            <!-- Team Members -->
            <div class="cr-section team-members section-padding-lg bg-white">
                <div class="container">
                    <div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="section-title text-center">
								<h2>TEAM MEMBERS</h2>
								<p>Here is the services which i know & provide all the time</p>
							</div>
						</div>
                    </div>
                    <div class="row justify-content-center">
                        
                        <!-- Single Team Member -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="team-wrapper mt-30">
                                <div class="team-member">
                                    <img src="img/team/team-member-1.jpg" alt="team image" />
                                    <div class="team-icon">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-tumblr"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                                <div class="team-info text-center">
                                    <h3>Jonathon Doe</h3>
                                    <span>Developer</span>
                                </div>
                            </div>
                        </div>
                        <!--// Single Team Member -->
                        
                        <!-- Single Team Member -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="team-wrapper mt-30">
                                <div class="team-member">
                                    <img src="img/team/team-member-2.jpg" alt="team image" />
                                    <div class="team-icon">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-tumblr"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                                <div class="team-info text-center">
                                    <h3>Johnny Seans</h3>
                                    <span>Developer</span>
                                </div>
                            </div>
                        </div>
                        <!--// Single Team Member -->
                        
                        <!-- Single Team Member -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="team-wrapper mt-30">
                                <div class="team-member">
                                    <img src="img/team/team-member-3.jpg" alt="team image" />
                                    <div class="team-icon">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-tumblr"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                                <div class="team-info text-center">
                                    <h3>Magnus Muller</h3>
                                    <span>Developer</span>
                                </div>
                            </div>
                        </div>
                        <!--// Single Team Member -->

                    </div>
                </div>
            </div>
            <!--// Team Members -->

            <!-- Skills Area -->
            <div class="cr-section skills-area section-padding-bottom-lg bg-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-title text-center">
                                <h2>OUR SKILLS</h2>
                                <p>Here is the services which i know & provide all the time</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        
                        <!-- Single Radial Progress -->
                        <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                            <div class="radial-progress-single mt-30">
                                <div class="radial-progress" data-percent="85" data-scale-color="#333333"><span>85%</span></div>
                                <h5 class="radial-progress-title">DESIGN</h5>
                            </div>
                        </div>
                        <!--// Single Radial Progress -->
                        
                        <!-- Single Radial Progress -->
                        <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                            <div class="radial-progress-single mt-30">
                                <div class="radial-progress" data-percent="95" data-scale-color="#333333"><span>95%</span></div>
                                <h5 class="radial-progress-title">DEVELOPMENT</h5>
                            </div>
                        </div>
                        <!--// Single Radial Progress -->
                        
                        <!-- Single Radial Progress -->
                        <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                            <div class="radial-progress-single mt-30">
                                <div class="radial-progress" data-percent="90" data-scale-color="#333333"><span>90%</span></div>
                                <h5 class="radial-progress-title">ANALYSIS</h5>
                            </div>
                        </div>
                        <!--// Single Radial Progress -->
                        
                        <!-- Single Radial Progress -->
                        <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                            <div class="radial-progress-single mt-30">
                                <div class="radial-progress" data-percent="80" data-scale-color="#333333"><span>80%</span></div>
                                <h5 class="radial-progress-title">MARKETING</h5>
                            </div>
                        </div>
                        <!--// Single Radial Progress -->

                    </div>
                </div>
            </div>
            <!--// Skills Area -->

            <!-- Testimonial Area -->
            <div class="cr-section testimonial-area bg-white">
                <div class="container">
                    <div class="bg-grey section-padding-sm">

                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="section-title text-center">
                                    <h2>WHAT PEOPLE SAY</h2>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-slider">
                            
                            <!-- Single Testimonial -->
                            <div class="testimonial">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos facere debitis sunt. Magni fugiat quaerat provident dolore accusantium odio beatae mollitia deleniti quo culpa eligendi, laborum illo fuga debitis aperiam.</p>
                                <h6>ROYCE VANDERVORT - <strong>APPLE.INC</strong></h6>
                            </div>
                            <!--// Single Testimonial -->
                            
                            <!-- Single Testimonial -->
                            <div class="testimonial">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos facere debitis sunt. Magni fugiat quaerat provident dolore accusantium odio beatae mollitia deleniti quo culpa eligendi, laborum illo fuga debitis aperiam.</p>
                                <h6>CLEO RITCHIE - <strong>ABCOMPANY.INC</strong></h6>
                            </div>
                            <!--// Single Testimonial -->
                            
                            <!-- Single Testimonial -->
                            <div class="testimonial">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos facere debitis sunt. Magni fugiat quaerat provident dolore accusantium odio beatae mollitia deleniti quo culpa eligendi, laborum illo fuga debitis aperiam.</p>
                                <h6>MYRL HUELS - <strong>JAADU.INC</strong></h6>
                            </div>
                            <!--// Single Testimonial -->
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--// Testimonial Area -->

            <!-- Best Pricing -->
            <div class="cr-section best-pricing-area section-padding-lg bg-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-title text-center">
                                <h2>BEST PRICING</h2>
                                <p>Here is the services which i know & provide all the time</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">

                        <!-- Single Pricing -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-pricing mt-30">
                                <div class="pricing-top">
                                    <h3>BASIC PLAN</h3>
                                    <p>$33<span>/Month</span></p>
                                </div>
                                <div class="pricing-bottom">
                                    <ul>
                                        <li>2GB Memory</li>
                                        <li>1 Core Processor</li>
                                        <li>20GB SSD Disk</li>
                                        <li>1TB Transfer</li>
                                        <li>24 hours support</li>
                                    </ul>
                                    <a class="button" href="#" data-content="Purchase Now">
                                        <span>Purchase Now</span>
                                    </a>
                                </div>
                            </div>    
                        </div>
                        <!--// Single Pricing -->

                        <!-- Single Pricing -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-pricing is-active mt-30">
                                <div class="pricing-top">
                                    <h3>BUSINESS PLAN</h3>
                                    <p>$66<span>/Month</span></p>
                                </div>
                                <div class="pricing-bottom">
                                    <ul>
                                        <li>5GB Memory</li>
                                        <li>3 Core Processor</li>
                                        <li>20GB SSD Disk</li>
                                        <li>2TB Transfer</li>
                                        <li>24 hours support</li>
                                    </ul>
                                    <a class="button" href="#" data-content="Purchase Now">
                                        <span>Purchase Now</span>
                                    </a>
                                </div>
                            </div>    
                        </div>
                        <!--// Single Pricing -->

                        <!-- Single Pricing -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-pricing mt-30">
                                <div class="pricing-top">
                                    <h3>PREMIUM PLAN</h3>
                                    <p>$99<span>/Month</span></p>
                                </div>
                                <div class="pricing-bottom">
                                    <ul>
                                        <li>10GB Memory</li>
                                        <li>5 Core Processor</li>
                                        <li>20GB SSD Disk</li>
                                        <li>3TB Transfer</li>
                                        <li>24 hours support</li>
                                    </ul>
                                    <a class="button" href="#" data-content="Purchase Now">
                                        <span>Purchase Now</span>
                                    </a>
                                </div>
                            </div>    
                        </div>
                        <!--// Single Pricing -->

                    </div>
                </div>
            </div>
            <!--// Best Pricing -->

		</main>
		<!--// Page Conttent -->

		<!-- Footer Area -->
		<footer class="footer-area bg-white">
			<div class="container">
				<ul class="footer-inner">
					<li>34/5 evergreen road, concord city <br> New work, United States</li>
					<li><a href="tel://+008341237654">+00834 123 7654</a></li>
					<li><a href="mailto://info@example.com">info@example.com</a></li>
					<li>Copyright &copy; More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></li>
				</ul>
			</div>
		</footer>
		<!--// Footer Area -->

	</div>
	<!--// Wrapper -->

	<!-- Js Files -->
	<script src="js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="js/vendor/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>



</html>