{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="page-content">

        <!-- Blog Area -->
        <div class="cr-section blog-area section-padding-lg">
            <div class="container" style="padding-top: 120px">
                <div class="row">
                    <div class="col-12">
                        <div class="blog-details">

                            <article class="blog-item sticky">
                                <div class="blog-item-header">
                                    <img src="{% static 'img/blog/blog-details/blog-image-1.jpg' %}" alt="blog thumb">
                                </div>
                                <div class="blog-item-footer">
                                    <ul class="blog-item-meta">
                                        <li><i class="fa fa-user-o"></i>By <a href="blog.html">Admin</a></li>
                                        <li><i class="fa fa-calendar-o"></i> 30 Nov 2018</li>
                                        <li><i class="fa fa-comments-o"></i><a href="#">3 Comments</a></li>
                                    </ul>
                                </div>
                                <div class="blog-item-body">
                                    <h3 class="blog-item-title">Accusamus iste quia qui quisquam qui velit ducimus iure dolores.</h3>
                                    <p>Sit nam rerum sed aut est et. Numquam non accusantium qui deleniti nihil harum itaque. Aspernatur debitis volu necessi tatibus omnis est provident odio accusantium qui deleniti nihil harum itaque. Aspernatur
                                        debitis volu necessi tatibus omnis est provident odio it nam rerum sed aut est et. Ad quo minima. Rem ut voluptate nihil suscipit quis impedit dolores doloribus. Sed distinctio ducimus nemo laboriosam itaque.
                                        Est id eius perspiciatis sequi ullam. Corrupti nihil non ut in accusantium animi alias quaerat. Ipsum commodi adipisci. Consectetur ipsa qui autem quod molestiae deserunt sit et. Fugiat dolore sunt. Natus ex ea
                                        laboriosam iste doloremque aut quia. Unde repellendus et et quibusdam dicta provident recusandae quia. Maiores voluptatem iure ad animi et. Consequatur voluptatem eos. Unde repellendus et et quibusdam dicta
                                        provident recusandae quia. Maiores voluptatem iure ad animi et. Consequatur voluptatem eos.</p>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam minima libero perspiciatis sequi pariatur Distinctio aut sed vel. Dolorum voluptates et ex commodi.</p>
                                    </blockquote>
                                    <p>Doloribus quaerat sapiente sit. Fugit ratione sunt sit dolorem error quia rerum reiciendis. Qui et fugiat ex quae quas labore voluptates temporibus. Harum in voluptatum fuga sed corrupti veniam corrupti dolorem
                                        voluptatem. . Harum in voluptatum fuga sed corrupti veniam corrupti dolorem voluptatem. corrupti dolorem voluptatem. Doloribus quaerat sapiente sit. Fugit ratione sunt sit dolorem error quia rerum reiciendis.
                                        Qui et fugiat ex quae quas labore voluptates temporibus. Harum in voluptatum fuga sed corrupti veniam corrupti dolorem voluptatem. . Harum in voluptatum fuga sed corrupti veniam corrupti dolorem voluptatem.
                                        corrupti dolorem voluptatem.</p>
                                </div>
                            </article>

                            <div class="blog-details-bottom">
                                <div class="blog-details-tags">
                                    <h6>Tags: </h6>
                                    <ul>
                                        <li><a href="blog-right-sidebar.html">Design</a></li>
                                        <li><a href="blog-right-sidebar.html">Development</a></li>
                                        <li><a href="blog-right-sidebar.html">Creative</a></li>
                                    </ul>
                                </div>
                                <div class="blog-details-share">
                                    <h6>Share: </h6>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="commentlist section-padding-top-sm">
                                <h6 class="small-title">3 COMMENTS</h6>

                                <div class="single-comment">
                                    <div class="single-comment-thumb">
                                        <img src="img/author-image/author-image-1.png" alt="hastech logo">
                                    </div>
                                    <div class="single-comment-content">
                                        <div class="single-comment-content-top">
                                            <h6><a href="blog-right-sidebar.html">ADMIN</a> – February 17, 2015</h6>
                                            <a href="#" class="reply-button">Reply</a>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.</p>
                                    </div>
                                </div>

                                <div class="single-comment single-comment-reply">
                                    <div class="single-comment-thumb">
                                        <img src="img/author-image/author-image-2.png" alt="hastech logo">
                                    </div>
                                    <div class="single-comment-content">
                                        <div class="single-comment-content-top">
                                            <h6><a href="blog-right-sidebar.html">DEMO</a> – February 17, 2015</h6>
                                            <a href="#" class="reply-button">Reply</a>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.</p>
                                    </div>
                                </div>

                                <div class="single-comment">
                                    <div class="single-comment-thumb">
                                        <img src="img/author-image/author-image-1.png" alt="hastech logo">
                                    </div>
                                    <div class="single-comment-content">
                                        <div class="single-comment-content-top">
                                            <h6><a href="blog-right-sidebar.html">ADMIN</a> – February 17, 2015</h6>
                                            <a href="#" class="reply-button">Reply</a>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.</p>
                                    </div>
                                </div>

                            </div>

                            <div class="blog-details-commentbox section-padding-top-sm">
                                <h6 class="small-title">LEAVE A REPLY</h6>
                                <form action="#" class="karigor-form">
                                    <div class="karigor-form-inner">
                                        <div class="karigor-form-input">
                                            <textarea id="new-review-textbox" cols="30" rows="5" placeholder="Comment"></textarea>
                                        </div>
                                        <div class="karigor-form-input karigor-form-input-half">
                                            <input type="text" id="new-review-name" placeholder="Name*" required>
                                        </div>
                                        <div class="karigor-form-input karigor-form-input-half">
                                            <input type="email" id="new-review-email" placeholder="Email*" required>
                                        </div>
                                        <div class="karigor-form-input">
                                            <button type="submit" class="button">
                                                <span>SEND COMMENT</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}