{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="bg-grey section-padding-sm">
        <div class="testimonial-slider">

            <div class="testimonial">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title text-center">
                            <h2>WELCOME TO MY PLACE</h2>
                        </div>
                    </div>
                </div>
                <h5>
                    <i>
                        This is my personal website to record my learning process.
                        You can never go straight without knowing where you are going
                    </i><br>
                    <i>For more information, please ==> <strong><a href="{% url 'login' %}">LOGIN</a></strong></i>

                </h5>
            </div>
            <!--// Single Testimonial -->

            <!-- Single Testimonial -->
            <div class="testimonial">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title text-center">
                            <h2>THE PYTHON PROGRAMMING LANGUAGE</h2>
                        </div>
                    </div>
                </div>
                <p><a href="http://www.python.org">Python </a>is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Python’s elegant syntax
                    and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.</p>
            </div>
            <!--// Single Testimonial -->

            <!-- Single Testimonial -->
            <div class="testimonial">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title text-center">
                            <h2>ABOUT ME</h2>
                        </div>
                    </div>
                </div>
                <h5><i>My name is Noah. I have two years of experience in Python development and I am proficient in web crawlers<br>
                    I want to be an underlying architect.Successful people are always willing to do successful people did not want to do.</i></h5>
            </div>
            <!--// Single Testimonial -->

        </div>
    </div>
    <!-- Hero Area -->
    <div class="hero-area bg-white">
        <div class="container">
            <div class="hero-area-inner">
                <div class="hero-area-text">
                    <div style="padding: 0 100px">
                        <h2>My BLOG</h2>
                    </div>
                    <h5>
                        <i>I'm a software development engineer<br>
                            Person's value is determined by its own</i>
                    </h5>
                    <div>
                        <div style="padding: 30px 100px">
                            <a class="button" href="{% url 'blog_list' %}" data-content="VIEW MORE">
                                <span>Purchase Now</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="hero-area-image">
                    <img src="{% static 'img/slider/slider-image-1.png' %}" alt="man mask">
                </div>
            </div>
        </div>
    </div>
    <!--// Hero Area -->

    <!-- Page Conttent -->
    <main class="page-content">

        <!-- Portfolios Ara -->
        <div class="cr-section portfolios-area section-padding-lg bg-white">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title text-center">
                            <h2>Python Project</h2>
                            <h5><i>Do one thing at a time and do well</i></h5>
                        </div>
                    </div>
                </div>

                <div class="row portfolios-wrapper portfolios-zoom-button-holder">

                    <!-- Single Portfolio -->
                    <div class="col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic portfolio-filter-design">
                        <div class="portfolio">
                            <div class="portfolio-image">
                                <img src="{% static 'img/portfolio/portfolio-image-1.jpg' %}" alt="portfolio image">
                            </div>
                            <div class="portfolio-content">
                                <a href="{% static 'img/portfolio/lg-size/portfolio-image-lg-1.jpg' %}" class="portfolio-zoom-button"></a>
                                <h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
                                <h6><a href="portfolio.html">PORTFOLIO</a></h6>
                            </div>
                        </div>
                    </div>
                    <!--// Single Portfolio -->

                    <!-- Single Portfolio -->
                    <div class="col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic">
                        <div class="portfolio">
                            <div class="portfolio-image">
                                <img src="{% static 'img/portfolio/portfolio-image-2.jpg' %}" alt="portfolio image">
                            </div>
                            <div class="portfolio-content">
                                <a href="{% static 'img/portfolio/lg-size/portfolio-image-lg-2.jpg' %}" class="portfolio-zoom-button"></a>
                                <h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
                                <h6><a href="portfolio.html">PORTFOLIO</a></h6>
                            </div>
                        </div>
                    </div>
                    <!--// Single Portfolio -->

                    <div class="col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic">
                        <div class="portfolio">
                            <div class="portfolio-image">
                                <img src="{% static 'img/portfolio/portfolio-image-2.jpg' %}" alt="portfolio image">
                            </div>
                            <div class="portfolio-content">
                                <a href="{% static 'img/portfolio/lg-size/portfolio-image-lg-2.jpg' %}" class="portfolio-zoom-button"></a>
                                <h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
                                <h6><a href="portfolio.html">PORTFOLIO</a></h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic">
                        <div class="portfolio">
                            <div class="portfolio-image">
                                <img src="{% static 'img/portfolio/portfolio-image-2.jpg' %}" alt="portfolio image">
                            </div>
                            <div class="portfolio-content">
                                <a href="{% static 'img/portfolio/lg-size/portfolio-image-lg-2.jpg' %}" class="portfolio-zoom-button"></a>
                                <h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
                                <h6><a href="portfolio.html">PORTFOLIO</a></h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic">
                        <div class="portfolio">
                            <div class="portfolio-image">
                                <img src="{% static 'img/portfolio/portfolio-image-2.jpg' %}" alt="portfolio image">
                            </div>
                            <div class="portfolio-content">
                                <a href="{% static 'img/portfolio/lg-size/portfolio-image-lg-2.jpg' %}" class="portfolio-zoom-button"></a>
                                <h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
                                <h6><a href="portfolio.html">PORTFOLIO</a></h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic">
                        <div class="portfolio">
                            <div class="portfolio-image">
                                <img src="{% static 'img/portfolio/portfolio-image-2.jpg' %}" alt="portfolio image">
                            </div>
                            <div class="portfolio-content">
                                <a href="{% static 'img/portfolio/lg-size/portfolio-image-lg-2.jpg' %}" class="portfolio-zoom-button"></a>
                                <h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
                                <h6><a href="portfolio.html">PORTFOLIO</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="padding: 30px 505px">
                        <a class="button" href="portfolio.html" data-content="VIEW MORE">
                            <span>Purchase Now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--// Portfolios Ara -->

        <!-- Service Area -->
        <div class="cr-section services-area section-padding-bottom-lg bg-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title text-center">
                            <h2>Official Website</h2>
                            <h5><i>These are some of the most important websites I know</i></h5>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Single Service -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="service text-center">
                            <a href="https://www.djangoproject.com/">
                                <h4>Django</h4>
                            </a>
                            <p>The web framework for perfectionists with deadlines.</p>
                        </div>
                    </div>
                    <!--// Single Service -->

                    <!-- Single Service -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="service text-center">
                            <a href="http://flask.pocoo.org/">
                                <h4>Flask</h4>
                            </a>
                            <p>Flask is a microframework for Python based on Werkzeug, Jinja2.</p>
                        </div>
                    </div>
                    <!--// Single Service -->

                    <!-- Single Service -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="service text-center">
                            <a href="http://www.tornadoweb.org/en/stable/">
                                <h4>Tornado</h4>
                            </a>
                            <p>asynchronous networking library, originally developed at FriendFeed.</p>
                        </div>
                    </div>
                    <!--// Single Service -->

                    <!-- Single Service -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="service text-center">
                            <a href="https://www.lfd.uci.edu/~gohlke/pythonlibs/">
                                <h4>Extension Packages</h4>
                            </a>
                            <p>Unofficial Windows Binaries for Python Extension Packages.</p>
                        </div>
                    </div>
                    <!--// Single Service -->

                    <!-- Single Service -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="service text-center">
                            <a href="https://scrapy.org/">
                                <h4>Scrapy</h4>
                            </a>
                            <p>
                                An open source and collaborative framework for extracting the data.                            </p>
                        </div>
                    </div>
                    <!--// Single Service -->

                    <!-- Single Service -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="service text-center">
                            <a href="https://cn.vuejs.org/">
                                <h4>Vue.js</h4>
                            </a>
                            <p>渐进式 JavaScript 框架</p>
                        </div>
                    </div>
                    <div>
                        <div style="padding: 30px 505px">
                            <a class="button" href="services.html" data-content="VIEW MORE">
                                <span>Purchase Now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}