<!doctype html>
<html class="no-js" lang="zxx">



<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Karigor - Portfolio Bootstrap4 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/icon.png">

	<!-- Google font (font-family: 'Dosis', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet">
	
	<!-- Plugins -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/plugins.css">

	<!-- Style Css -->
	<link rel="stylesheet" href="../../static/css/style.css">

	<!-- Custom Styles -->
	<link rel="stylesheet" href="css/custom.css">
</head>

<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

	<!-- Add your site or application content here -->

	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">

		<!-- Header -->
		<header class="header sticky-header">
			<div class="container">
				<div class="header-inner d-none d-lg-flex">
					<div class="header-logo">
					<a href="#">
						<h3>Python Project</h3>
					</a>
				</div>
					<div class="header-navigation">
						<button class="header-navigation-trigger">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<nav class="main-navigation">
							<ul>
                                <li><a href="index.html">HOME</a>
                                    <ul>
                                        <li><a href="index.html">Home Default Version</a></li>
                                        <li><a href="index-dark.html">Home Dark Version</a></li>
                                        <li><a href="index-boxed.html">Home Boxed Layout</a></li>
                                    </ul>
                                </li>
								<li><a href="about.html">ABOUT US</a></li>
                                <li><a href="portfolio.html">PORTFOLIO</a>
                                    <ul>
                                        <li><a href="portfolio-2-column.html">Portfolio 2 Column</a></li>
                                        <li><a href="portfolio.html">Portfolio 3 Column</a></li>
                                        <li><a href="portfolio.html">Portfolio 4 Column</a></li>
                                        <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">BLOG</a>
                                    <ul>
                                        <li><a href="blog.html">Blog Fullwidth</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-details.html">Blog Details</a>
                                            <ul>
												<li><a href="blog-details.html">Blog Details</a>
                                                <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                                <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                            </ul>                                        
                                        </li>
                                    </ul>
                                </li>
								<li><a href="pricing.html">PRICING</a></li>
								<li><a href="services.html">SERVICES</a></li>
								<li><a href="login.html">CONTACT</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="mobile-menu-wrapper d-block d-lg-none">
					<div class="mobile-menu clearfix">
						<a href="index.html" class="mobile-logo">
							<img src="img/logo/logo-dark.png" alt="mobile logo">
						</a>
					</div>
				</div>
			</div>
		</header>
		<!--// Header -->

		<!-- Page Conttent -->
		<main class="page-content">

            <!-- Portfolios Ara -->
			<div class="cr-section portfolios-area section-padding-lg bg-white">
				<div class="container">

					<div class="row portfolios-wrapper portfolios-zoom-button-holder">
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic portfolio-filter-design">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-1.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-1.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
						<!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-2.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-2.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
						<!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-photoshop portfolio-filter-design">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-3.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-3.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
						<!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic portfolio-filter-design">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-4.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-4.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
						<!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-photoshop">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-5.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-5.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
						<!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-photoshop portfolio-filter-design">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-6.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-6.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
						<!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-7.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-7.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
						<!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-design">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-8.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-8.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
						<!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic portfolio-filter-design">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-9.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-9.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
                        <!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic portfolio-filter-design">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-10.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-10.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
                        <!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-11.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-11.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
                        <!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-photoshop portfolio-filter-design">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-12.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-12.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
                        <!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-design portfolio-filter-graphic">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-13.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-13.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
                        <!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-photoshop portfolio-filter-graphic">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-14.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-14.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
                        <!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-design portfolio-filter-graphic">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-15.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-15.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
                        <!--// Single Portfolio -->
						
						<!-- Single Portfolio -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-photoshop portfolio-filter-design">
							<div class="portfolio">
								<div class="portfolio-image">
									<img src="img/portfolio/portfolio-image-16.jpg" alt="portfolio image">
								</div>
								<div class="portfolio-content">
									<a href="img/portfolio/lg-size/portfolio-image-lg-16.jpg" class="portfolio-zoom-button"></a>
									<h5><a href="portfolio-details.html">AWESOME RACING CAR</a></h5>
									<h6><a href="portfolio.html">PORTFOLIO</a></h6>
								</div>
							</div>
						</div>
                        <!--// Single Portfolio -->

                    </div>

                    <div class="row">
                        <div class="col-12 text-center mt-5">
                            <a href="portfolio.html" class="button" data-content="View More">
                                <span>View More</span>
                            </a>
                        </div>
                    </div>

				</div>
			</div>
			<!--// Portfolios Ara -->

		</main>
		<!--// Page Conttent -->

		<!-- Footer Area -->
		<footer class="footer-area bg-white">
			<div class="container">
				<ul class="footer-inner">
					<li>34/5 evergreen road, concord city <br> New work, United States</li>
					<li><a href="tel://+008341237654">+00834 123 7654</a></li>
					<li><a href="mailto://info@example.com">info@example.com</a></li>
					<li>Copyright &copy; More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></li>
				</ul>
			</div>
		</footer>
		<!--// Footer Area -->

	</div>
	<!--// Wrapper -->

	<!-- Js Files -->
	<script src="js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="js/vendor/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>



</html>